<h1> Sign Up </h1>

<p>Hier kan men zich registreren...</p>

<form method="post" >

<input name="username" placeholder="Username" />
<input name="firstname" placeholder="First name" />
<input name="surname" placeholder="Surname" />
<input name="password" type="password" placeholder="Password" />
<input name="email" placeholder="Email adress" />

<input type="submit" value="Sign up">

</form>